* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf"),
    url("../assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background-color: #ffffff;
  width: 384px;
  height: 522px;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid #111111;
  box-shadow: 8px 8px #000000;
  transition-duration: 500ms;
}

/* BLog image */
.blog-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

/* Content */
.content {
  margin: 24px 0;
}

.category {
  background-color: #f4d04e;
  width: 82px;
  height: 29px;
  border-radius: 4px;
  color: #111111;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish-date {
  font-size: 14px;
}

.title {
  font-size: 24px;
  font-weight: bolder;
  color: #111111;
  transition-duration: 500ms;
}

.description {
  color: #6b6b6b;
}

/* Margin bottom Content */
.category,
.publish-date,
.title {
  margin-bottom: 12px;
}

/* Author */
.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-img {
  width: 32px;
  height: 32px;
}

.author-name {
  font-size: 14px;
  font-weight: bolder;
}

/* Card Hover */
.card:hover {
  box-shadow: 16px 16px #000000;
}

.card:hover .title {
  color: #f4d04e;
}

/* Responsive  */
@media screen and (max-width: 375px) {
  body {
    font-size: 14px;
  }

  .card {
    width: 327px;
  }

  .category {
    width: 73px;
    height: 26px;
    font-size: 12px;
  }

  .publish-date {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
  }
}
